<div class="row">
  <div class"span3 offset3">
    <h3 id="moveToRight">Paso 2 de 2</h3>
  </div>
</div>

<h4>Para enviarte cortesías, souvenirs o algun ítem que compres<br /> necesitamos tus datos de envío:</h4>


<%= render layout: 'form_address' do |f| %>
  <div class="field">
    <h5>Picture:</h5>
    <%= f.text_field :picture %>
  </div>
<% end %>