<form target="MercadoPago" action="https://www.mercadopago.com/mlm/buybutton" method="post">
		<input type="submit" class="btn btn-success" value="Comprar Cuenta"
			onclick="_gaq.push(['_trackEvent', 'Call-to-Actions', 'Buy button OnClick', 'MercadoPago OnClick']);"
			onmousedown="_gaq.push(['_trackEvent', 'Call-to-Actions', 'Buy button OnMouse', 
			'MercadoPago OnMouse']);">
							<input type="hidden" name="acc_id" value="21875312">
							<input type="hidden" name="url_cancel" value="http://www.soxialit.com">
							<input type="hidden" name="item_id" value="Soxialit">
							<input type="hidden" name="name" value="Soxialit Premium">
							<input type="hidden" name="currency" value="DOL">
							<input type="hidden" name="price" value="10.0">
							<input type="hidden" name="url_process" value="http://www.soxialit.com/">
							<input type="hidden" name="url_succesfull" value="http://www.soxialit.com/bienvenido">
							<input type="hidden" name="shipping_cost" value="">
							<input type="hidden" name="enc" value="hxxTihnnIO0kvTbPF0yTWYDAMKg%3D">
							<input type="hidden" name="ship_cost_mode" value="DS">
							<input type="hidden" name="op_retira" value="S">
							<input type="hidden" name="extra_part" value="soxialit">
</form>