
<% if @user.role?(:admin) %>
  <section>
    <%= render 'users/profiles/admin' %>
	<div id="name" class="contianer" style="margin-left:-10%; margin-right: -10%">
			<%= render @products %>
	</div>
   </section>
<% elsif @user.role?(:designer)  %>
  <section>
    <%= render 'users/profiles/designer' %>
  </section>
<% elsif @user.role?(:'fashion lover')  %>
  <section>
      <%= render 'users/profiles/fashionlover' %>
  </section>
<% end %>