<footer class="footer">
  <div class="span1.5">
    <p style="font-size:0.8em">&#169; Soxialit</p>
  </div>
  <div class="span2">
    <p id="footer"><a href="http://blog.soxialit.com"
    	onclick="_gaq.push(['_trackEvent', 'Footer Links', 'Check blog OnClick', 'Tumblr Blog OnClick ']);"
		onmousedown="_gaq.push(['_trackEvent', 'Footer Links', 'Check blog OnMouse', 'Tumblr Blog OnMouse']);">Blog
	</a>&nbsp;&nbsp;</p>
  </div>
</footer>
<script type="text/javascript">
	mixpanel.track_links('#footer a', 'Clicked Blog Link');
</script>